<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Cloud</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://raw.github.com/lucaong/jQCloud/master/jqcloud/jqcloud-1.0.0.min.js"></script>
    <script type="text/javascript">
      var word_list = new Array(
      <%@x.each do |t, w|%>
        {text: "<%=t%>" , weight: <%=w%>},
      <%end%>
        {text: "", weigth:0}
      );
      $(document).ready(function() {
        $("#wordcloud").jQCloud(word_list);
      });
    </script>
    <style type="text/css">
      body {
        background: #eee;
        font-family: Helvetica, Arial, sans-serif;
      }
      #wordcloud {
        margin: 10px auto;
        width: 1000px;
        height: 800px;
        border: none;
      }
      #wordcloud span.w10, #wordcloud span.w9, #wordcloud span.w8, #wordcloud span.w7 {
        text-shadow: 0px 1px 1px #ccc;
      }
      #wordcloud span.w3, #wordcloud span.w2, #wordcloud span.w1 {
        text-shadow: 0px 1px 1px #fff;
      }
    </style>
  </head>
  <body>
    <h1 align="center">Mined your <%=@count%> tweet(s)!</h1>
    <div id="wordcloud"></div>
    <div id="footer">
     </div>
    <!-- Google Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33883272-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <!-- End Google Analytics -->
  </body>
</html>
